* {
    margin: 5px;
}

body {
    background-color: white;
}

header {
    width: 98%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: #000;
}

header h1 {
    text-align: center;
}

.conttitulo {
    display: flex;
    flex-direction: wrap;
    line-height: 75px;
}

.nav {
    background-color: #464545;

    --img1: scale(5); /* Reducción del tamaño de los iconos */
    --img2: scale(0);
}

.nav:has(.dropdown:target) {
    --img1: scale(0);
    --img2: scale(5); /* Reducción del tamaño de los iconos */
    --clip: inset(0 0 0 0);
}

.nav__container {
    width: 90%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav__title {
    color: #fff;
    grid-area: title;
}

.nav__menu {
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav__menu--second {
    transform: var(--img2);
}

.nav__icon {
    width: 15px; /* Reducción adicional del tamaño de los iconos */
    display: block;
}

.dropdown {
    position: absolute;
    background-color: #000;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    display: grid;
    align-content: center;
    gap: 1rem;

    overflow-y: auto;

    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path 0.5s;
}

.dropdown__list {
    list-style: none;
}

.dropdown__link {
    color: rgb(184, 187, 191);
    padding: 1em 0.7em; /* Ajuste del padding */
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has(:checked) {
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303B;
}

.dropdown__check {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow {
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: 0.2s transform;
}

.dropdown__content {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: 0.3s grid-template-rows;
}

section {
    width: 100%;
    background-color: rgb(169, 153, 228);
    height: 500px;
    float: left;
}

img {
    width: 100%;
    height: auto;
    max-width: 150px;
    display: block;
}
.dropdown__icon {
    width: 100%;
    height: auto;
    max-width: 8.5vh;
    display: block;
}
.img3 {
    width: 100%;
    height: auto;
    max-width: 60%;
}
.xd
{
   padding-left: 45vh;
   position: relative;
   width: 100%;
   overflow: hidden;
    
}

@media (max-width: 500px) {
    header {
        width: 95%;
    }


    .conttitulo {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    img {
        max-width: 85px;
    }

    section {
        width: 100%;
        background-color: rgb(169, 153, 228);
        height: 500px;
        float: left;
    }
    .img3 {
        width: 100%;
        height: auto;
        max-width: 75%;
    }
    .xd
    {
       padding-left: 45vh;
    }
}
